@import '../colors';
@import '../constants';

.navbarWrapper {
	width: 100vw;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	background: $color-bg-alt;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	z-index: 1;
}

.navbarContentWrapper {
	width: 100%;
	max-width: $max-content-width;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

.linksWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logoWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	cursor: pointer;
}

.underline {
	text-decoration: underline;
}
