

$color-bg: #101010; 
$color-bg-secondary: #1a1a1a; 
$color-bg-secondary-light: #303030; 
$color-bg-alt: #3d0517; 

$color-text: #eeeeee;
$color-text-secondary: #cfcccc;

$color-primary: #581b26;
$color-primary-alt: #722a3a;
$color-secondary: #6a3072;
$color-secondary-alt: #8a4e76;
