

$color-bg: #141414; 
$color-bg-secondary: #232323; 
$color-bg-alt: #3d0517; 

$color-text: #eeeeee;
$color-text-secondary: #cfcccc;

$color-primary: #5a000f;
$color-primary-alt: #5f1f2d;
$color-secondary: #72305c;
$color-secondary-alt: #8a4e76;
